* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: #ebebe0;
}

/* HEADER */

.header {
  color: white;
  background: #2c3e50;
  display: flex;
  margin-bottom: 0.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  padding-left: 10px;
}

.links {
  font-size: .9em;
  display: flex;
  list-style: none;
  position: absolute;
  right: 10px;
}

.links li:nth-of-type(2) {
  padding-left: 3px;
  padding-right: 3px;
}

/* SLIDESHOW */

.scroll-components, .still {
  display: flex;
}

.prev {
  text-align: center;
  width: 25%;
}

.next {
  text-align: center;
  width: 25%;
}

.picture {
  text-align: center;
  width: 50%;
  height: 100%;
}

.scroll img {
  border: 3px solid #2c3e50;
  height: 100%;
  width: 100%;
}

button {
  border: none;
  font-size: 1em;
  padding: 2px 7px;
  border: 2px solid #2c3e50;
  border-radius: 12px;
  position: relative;
  transition: all .5s;
}

button:active {
  transform: translateY(4px);
}

#prev, #next {
  position: relative;
  top: 40%;
}

input {
  margin-bottom: 12px;
}

.settings {
  margin-bottom: 0.8em;
  text-align: center;
}

/* GALLERY VIEW */

.gallery-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.picture-preview {
  margin: 2rem auto;
  width: 90%;
  border: 3px solid #2c3e50;
  border-radius: 4px;
  text-align: center;
}

.thumbnail {
  cursor: pointer;
  height: 100%;
  object-fit: cover;
  width: 100%;
  padding-bottom: 5px;
  pointer-events: none
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.full-size {
  color: #2c3e50;
}

/* MODAL OVELAY */

.modal-overlay {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 10  ;
 width: 100%;
 height: 100%;
 background: rgba(21,21,21,.75);
}

.modal-body {
 position: absolute;
 top: 50%;
 left: 50%;
 z-index: 11;
 padding: 0;
 overflow: auto;
 transform: translate(-50%, -50%);
}

.modal-body img {
  width: 100%;
}

.modal-close {
 position: absolute;
 top: 0;
 right: 8px;
 font-size: 1.5rem;
 transition: all .25s ease-in-out;
 }

 .modal-close:focus, .modal-close:hover {
  color: #2c3e50;
 }

/* MEDIA QUERIES */

@media screen and (min-width: 900px) {
  .header p {
    width: 20%;
    text-align: right;
  }

  .links {
    right: 15%;
  }
}

@media screen and (min-width: 500px) {
  .picture-preview {
    width: 40%;
  }

  .header {
    font-size: 1.1em;
  }

  .full-size {
    display: none;
  }

  .thumbnail {
    padding-bottom: 0;
    pointer-events: auto;
  }
}

@media screen and (min-width: 900px) {
  .picture-preview {
    width: 30%;
  }

  .header {
    font-size: 1.3em;
  }
}

@media screen and (min-widtH: 1200px) {
  .picture-preview {
    width: 20%;
  }
}
